[SddmGreeterTheme]
Name=sddm-corporate-theme
Description=sddm-corporate-theme
Author=keyitdev
Website=https://github.com/BillWaller/sddm-corporate-theme
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.3
ConfigFile=Themes/corporate.conf
Screenshot=Previews/corporate.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-corporate-theme
Theme-API=2.0
QtVersion=6
